*.jl.cov
*.jl.*.cov
*.jl.mem

Manifest.toml
LocalPreferences.toml

# generated docs
docs/build/
docs/src/generated/

# LAMMPS artifacts
log.lammps

# benchmarks
results_LAMMPS@*.json
results_LAMMPS@*.json.tmp